*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 250px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image img{
    width: 210px;
    height: 210px;
    border-radius: 5px;
}
.image{
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
}
.layer{
    position: absolute;
    top: -100%;
    right: 0;
    background-color: rgba(0, 255, 247,.4);
    border-radius: 5px;
    height: 210px;  
    transition: all 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image:hover .layer{
    top: 0;
}
.image .view {
    width: 30px;
    height: 30px;
}
.eth-info h4{
    color: white;
    margin: 10px 0;
    transition: all 0.4s;
}
.eth-info h4:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.eth-info p{
    color: hsl(215, 20%, 51%);
    font-size: 12px;
    margin: 15px 0;
}
.eth img{
    width: 10px;
}
.time img{
    width: 15px;
}
.profile img{
    width: 20Px;
}
.temp,.eth,.time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.temp{
    justify-content: space-between;
}
.eth{
    color: hsl(178, 100%, 50%);
}
.time{
    color: hsl(215, 51%, 70%);
}
.line{
    background: hsl(215, 20%, 51%);
    height: .5px;
    width: 100%;
    margin: 15px 0;
}
.profile{
    display: flex;
    align-items: center;
     gap: 10px;
     font-size: 13px;
}
.profile p{
    color: hsl(215, 20%, 51%);
}
.profile span{
    color: white;
    transition: all 0.3s;
}
.profile span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}